@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("image/gt2.jpg");
    background-repeat: no-repeat ;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #d1cad1;
}


/* 
.form::before{
      
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite;

}
.form::after{
    
    position: absolute;
    width: 100%;
    height: 10%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}
@keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */






.form.signup{
    /* opacity: 0; */
     pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
} 
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
} 
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    height: 45px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    border-radius: 6px;
}
.field input, .field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    padding: 0 15px;
    border: 1px solid #CACACA;
    outline: none;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transform: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span, .form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #232836;
    padding:  0 15px;
}
.media-options a{
    display: flex; 
    align-items: center;
    justify-content: center;
    
}
a.facebook{
    background-color: #4267b2;
    color: #fff;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    /* color: #0171d3; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    /* background-color: #4267b2; */
    /* color: #fff; */
}
.facebook-icon, img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}
.container>nav {
    background-color: white;
    width: 100%;
    height: 71px;
    position: fixed;
    margin-top: -10px;
    z-index: 18;
}

.trai>ul>li {
    float: left;
    list-style: none;
}
#login{
    margin-right: 5px;
    border-radius: 3px;
}

#login:hover{
    background-color: rgb(96, 175, 221);
    
}
#login>a{
    color: black;
    
    font-size: 1.2em;
}
#register:hover{
    background-color: rgb(96, 175, 221);
}
#register{
    border-radius: 3px;
    margin-right: 20px;
    background-color: rgba(3, 3, 240, 0.685);
}
#register>a{
    color: white;
    
    font-size: 1.2em;
}
.phai>ul>li {
    float: right;
    list-style: none;
    padding: 10px 10px;

}
.phai>ul>li>p{
    position: absolute;
    bottom: 12px;
    right: 200px;
}
.phai>ul>li>a {
    text-decoration: none;
    color: white;
}

.trai>ul>li>a>img {
    margin-left: -50px;
    margin-top: -26px;
}
.trai>ul>li>a:hover{
    color: blue;
}
.trai>ul>li>a {
    display: block;

    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: larger;
    padding: 10px 10px;
}



#footer {
    width: 100%;
    clear: both;
    background-color: rgba(193, 233, 15, 0.24);
    height: 200px;

}

#footer_left {
    float: left;
    min-height: 180px;
    padding-left: 20px;
    margin-right: 120px;
}

#footer_center {

    float: left;
    width: 395px;
    min-height: 180px;
    padding-right: 30px;
    margin-right: 10px;
}

#footer_right {
    margin-right: 100px;
    min-height: 180px;
    width: 240px;
    float: right;
    padding-left: 30px;
    padding-right: 10px;
}

#footer p {
    font-size: 0.9em;
}

#footer h3 {
    font-weight: 550;
}